/* Argus - Dropdown Menu (Theme 1) - Animation 1 */
body {
    margin: 0;
}

/* ========== MAIN DIV THAT HOLDS THE ENTIRE MENU ========== */
.menu {
    padding-top: 50px;
    height: 45px; /* height */
    background: #fff; /* background color */
    border-bottom: dotted 1px #333;
}

/* ========== DIV THAT HOLDS MAIN LINKS ========== */
.menu ul {
    margin: 0; /* removes the space added by default */
    padding: 0; /* removes the space added by default */
    float: left; /* go left */
    list-style: none;
}

/* ========== MAIN LINKS ========== */
.menu ul li {
    position: relative;
    float: left; /* go left */
}

.menu ul li a {
    display: block;
    height: 45px; /* height */
    padding: 0 37px; /* separates from inside, 20px from left and right side */
    font-family: 'Open Sans', sans-serif; /* call font */
    font-size: 14px; /* font size */
    color: #666; /* text color */
    text-decoration: none;
    line-height: 48px;
    -webkit-transition: background 0.2s linear, color 0.2s linear;
    -moz-transition: background 0.2s linear, color 0.2s linear;
    -ms-transition: background 0.2s linear, color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear;
    transition: background 0.2s linear, color 0.2s linear;
}

/* ========== MAIN LINKS ON MOUSEOVER AND WHEN THE MAIN LINK HAS CLASS '.selected' ========== */
.menu ul li:hover a, .menu ul li a.selected {
    background: #0070bb; /* background color */
    color: #FFF; /* text color */
}

/* ========== MAIN LINKS ON MOUSE CLICK ========== */
.menu ul li a:active {
    color: #CCC; /* text color */
}

/* ========== WHEN THE MAIN LINK HAS CLASS '.selected' ========== */
.menu ul:hover li a.selected {
    background: #333; /* background color */
    color: #777; /* text color */
}

.menu ul li:hover a.selected {
    background: #af0019; /* background color */
    color: #FFF; /* text color */
}

.menu ul li a:active.selected {
    color: #CCC; /* text color */
}

/* ========== DROPDOWN MENU ========== */
.menu ul ul {
    visibility: hidden;
    opacity: 0;
    height: auto; /* height */
    position: absolute;
    left: 0;
    padding-top: 4px; /* separates from inside, 4px from top */
    background: #af0019; /* background color */
    border-bottom: solid 2px #008cea;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

/* ========== LINKS IN DROPDOWN MENU ========== */
.menu ul ul li {
    cursor: pointer;
    border-top: solid 1px #008cea;
    border-right: solid 1px #008cea;
    border-left: solid 1px #008cea;
}

.menu ul ul li a {
    width: 155px; /* width */
    height: 37px; /* height */
    padding: 0;
    padding-left: 20px; /* separates from inside, 20px from left */
    font-size: 13px; /* font size */
    color: #FFF; /* text color */
    text-transform: none;
    line-height: 40px;
}

.menu ul ul li span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 16px; /* font size */
}

/* ========== LINKS ON MOUSEOVER IN DROPDOWN MENU ========== */
.menu ul ul li:hover > a {
    z-index: 1;
    color: #FFF; /* text color */
    background: #24a7ff; /* background color */
    -webkit-box-shadow: 0 0 1px #008cea;
    -moz-box-shadow: 0 0 1px #008cea;
    box-shadow: 0 0 1px #008cea;
}

/* ========== LINKS ON MOUSE CLICK IN DROPDOWN MENU ========== */
.menu ul ul li a:active {
    color: #CCC; /* text color */
}

/* ========== DROPDOWN MENU LVL 2,3,4,... ========== */
.menu ul ul ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1px;
    left: 100%;
    padding: 0;
}

/* ========== SEARCH BOX ========== */
.search {
    margin: 8px 10px 0 0; /* separates 10px from top and 12px from right */
    float: right; /* go right */
    border: solid 1px #555;
}

/* ========== SEARCH FIELD ========== */
.search_field {
    width: 160px; /* width */
    height: 25px; /* height */
    padding: 3px 4px 0 4px; /* separates from inside, 2px from top and 4px from left and right side */
    float: left; /* go left */
    font-family: 'Anaheim', sans-serif; /* call font */
    color: #666; /* text color */
    font-size: 15px; /* font size */
    line-height: 25px;
    background: #333; /* background color */
    border: none;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

input::-webkit-input-placeholder {
    color: #666;
}

input:-moz-placeholder {
    color: #666;
}

input::-moz-placeholder {
    color: #666;
}

input:-ms-input-placeholder {
    color: #666;
}

.search_field:focus {
    color: #999; /* text color */
}

/* ========== SEARCH BUTTON ========== */
.button {
    width: 28px; /* width */
    height: 28px; /* height */
    float: left; /* go left */
    background-image: url(../images/search_icon.png); /* logo */
    background-color: #333; /* background color */
    border: none;
    cursor: pointer;
}

/* LizardTheme/December2012 */